
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Todoey</title>
</head>



<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
     <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
      
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
      
                  <h4 class="mb-3">Simple Todo List</h4>
      
                  <form class="d-flex justify-content-center align-items-center mb-4" method="POST" action="/">
                    <div class="form-outline flex-fill">

                      <input type="text" id="form3" class="form-control form-control-lg" name="postTodo" placeholder="<%= errorMessage %>" />

                    </div>
                    <button name="button" type="submit" class="btn btn-primary btn-lg ms-2">Add</button>
                  </form>
                  <label style="font-weight: 500;" class="form-label" for="form3">What you need to do today :</label>
      
                  <ul class="list-group mb-0">
                    <% for (let i=0;i<locals.listSize;i++) {%>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                      <div class="d-flex align-items-center">
                        <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                        <%= todoList[i].text %>
                      </div>
                      <a href="/delete/<%= todoList[i]._id %>" data-mdb-toggle="tooltip" title="Remove item">
                        <i class="fas fa-times text-primary"></i>
                      </a>
                    </li>
                    <% } %>
                  </ul>
      
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
</body>

</html>